<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--指定 Enum 使用的默认 TypeHandler （新增于 3.4.5）-->
        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <!--设置自动驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="com.common.tkmybatis.plugin.ToIntegerArrayTypeHandler"/>
        <typeHandler handler="com.common.tkmybatis.plugin.ToStringArrayTypeHandler"/>
    </typeHandlers>

</configuration>